/* 
    Document   : meicy
    Created on : 23/08/2013, 17:35:41
    Author     : gerardo
    Description:
        Purpose of the stylesheet follows.
*/

.view-ordenes-de-compra #edit-date-filter-min-wrapper,
.view-ordenes-de-compra #edit-date-filter-max-wrapper{
    float: left;
}

a.arrow-up, a.arrow-down {
    display: block;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    margin: auto;
    background: url('images/arrow-up.png') no-repeat;
}

a.arrow-down {
    background: url('images/arrow-down.png') no-repeat;
}

.stock-wrapper{
    width: 100%;
    text-align: center;
}